# ==========================================
# Python
# ==========================================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables / secrets
.env
.env.*
*.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Type checking
.mypy_cache/